.color_0{
    /* зеленый  */
    background: #DED7CD;
}
.color_1{
    /* зеленый  */
    background: #9AA68E;
}
.color_2{
    /* желтый */
    background: #CDB6A6;
}
.color_3{
    /* коричневый */
    background: #A26B54;
}
.color_4{
    /* бордовый */
    background: #803B54;
}
.color_5{
    /* розовый */
    /* background: #A57F81; */
    background: #ca9b9e;
}
.color_6{
    background: #707070;
}
.color_7{
    /* розовый 2 */
    background: rgb(195 111 141);
}
.color_8{
    background: #C1BDA2;
}
.color_9{
    background: #db997c;
}


html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, a, img, ol, ul, li, form, label,
article, figure, footer, header, nav, section, video {
    margin: 0;
    padding: 0;
    border: 0;
    /* font-size: 100%; */
    font: inherit;
    vertical-align: baseline;
}
html{
    font-family: 'Poiret One';
    font-size: 1vw;
}
article, figure, footer, header, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
a , input{
    text-decoration: none;
    outline: none;
}
.header-wrapper{
    background: url('../img/main.jpg') center center no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2rem 5rem;
    z-index: 1;
}
nav a{
    margin-left: 4rem;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 114%;
    letter-spacing: .14rem;
    text-shadow: rgb(87, 87, 87) 1px 1px 0;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}
.main_content{
    width: 80%;
    margin: 20vh auto 0 auto;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: rgb(87, 87, 87) 1px 1px 0;
    color: #fff;
    z-index: 1;
    position: relative;
    cursor: default;
}
h1{
    font-family: 'Poiret One';
    font-size: 8rem;
}
.main_content h4{
    margin-top: 1rem;
    font-size: 3rem;
}
#current_date_time_block{
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
}
#current_date_time_block div{
    margin-left: 2rem;
    text-align: center;
}
#current_date_time_block div:first-child{
    margin-left: 0;
}


h3{
    font-weight: bold;
    font-size: 3rem;
    color: rgb(195 102 136);
}

/* программа */
.programm{
    /* margin-top: 7rem; */
    padding: 5rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #575656;
    background-size: cover;
}
.programm_main{
    width: 68%;
    display: flex;
    justify-content: space-between;
}
.programm_block{
    margin: 5rem 1.5rem;
    font-weight: bold;
    text-align: center;
    background: #ffffff;
    box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%);
}
.programm_block img{
    width: 100%;
    height: 18rem;
    object-fit: cover;
}
.programm_block div{
    padding: 3rem 4rem;
}
.programm_block h6{
    font-size: 1.5rem;
    color: #808080;
}
.programm_block p{
    padding-top: 1rem;
    font-size: 1.2rem;
    line-height: 150%;
    color: #a6a4a4;
}



/* приглашение */
.invitation{
    /* margin: 7rem 0; */
    padding: 11rem 15rem 7rem 15rem;
    /* padding: 8rem 15rem; */
    min-height: 100vh;

    font-weight: bold;
    color: #575656;
      /* #7e8155 */
    text-align: center;
    
    background: url('../img/flowers.jpg') center 30% no-repeat;
    background-size: cover;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 20%);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.invitation p{
    margin-top: 3rem;
    width: 50%;
    font-size: 1.5rem;
    line-height: 130%;
}
.block_color{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 24rem;
    margin-top: 1.5rem;
}
.block_color div{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin: .5rem;
    border: .01rem solid #cacaca;
}


/* форма отправки */

.form_data{
    display: flex;
    justify-content: center;

    margin-bottom: 4rem;
    padding: 4rem;
    background: url('../img/form_img.jpg') center center no-repeat;
    background-size: cover;

    font-weight: bold;
    font-size: 1.2rem;
    line-height: 115%;
    color: #7c7c7c;
}
.form_data h3{
    line-height: 120%;
    color: #ffffff;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.come_block{
    display: flex;
    margin-top: 5rem;
}
.come_block input, .question input{
    width: 0;
    position: absolute;
}
.come_block label{
    width: 15rem;
    margin: 0 3rem;
    padding: 1.2rem 0;
    text-align: center;

    background: #ffffff;
    border: .07rem solid #7c7c7c6b;
    transition: color .2s;
}
.come_block input:checked + label,
.come_block label:hover{
    color: #ffffff;
    background: linear-gradient(135deg, rgb(237, 216, 200), rgb(195 102 136) 100%);
}
.form_data button{
    width: 15.15rem;
    margin: 3rem 3rem 0 3rem;
    padding: 1.2rem 0;
    text-align: center;

    font-family: 'Poiret One';
    font-weight: bold;
    font-size: 1.2rem;
    color: #7c7c7c;

    background: #ffffff;
    border: .07rem solid #7c7c7c6b;
    transition: color .25s;
}
.form_data button:hover{
    color: #ffffff;
    background: linear-gradient(135deg, rgb(237, 216, 200), rgb(195 102 136) 100%);
}

.block_form_edit{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.question p{
    color: #ffffff;
}
.question, .input_name{
    margin: 3rem 1rem 0 1rem;
}
.input_name{
    width: 20rem;
    padding: 1rem 1.2rem;

    font-family: 'Poiret One';
    font-weight: bold;
    font-size: 1.2rem;
    color: #7c7c7c;
    border: .07rem solid #7c7c7c6b;
}
textarea{
    width: 70%;
    height: 4rem;
    margin-top: 3rem;
    resize: none;

    padding: 1rem 1.2rem;
    font-family: 'Poiret One';
    font-weight: bold;
    font-size: 1.2rem;
    color: #7c7c7c;
    border: .07rem solid #7c7c7c6b;
}
textarea:focus{
    outline: none;
}
.map{
    text-align: center;
}
.map iframe{
    margin: 3rem 0 1.5rem 0;
    height: 65vh;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 1.5rem 3rem;
    font-size: 1.2rem;
    line-height: 115%;
    border-top: .07rem solid #7c7c7c6b;
    background: #494949;
}
footer p{
    color: #ffffff;
}
footer svg{
    margin: 0 2rem;
    width: 2rem;
    height: 2rem;
}
footer a{
    font-weight: bold;
    color: rgb(255 149 140);
}